<section class="hero is-bold is-fullheight">
    <div class="hero-body">
    <div class="container">
      <h1 class="title">
        About Us
      </h1>
      <div class="content is-medium has-text-left">
      <p>
      Water has proven not to be an unlimited resource. Unless we do not reduce our water usage drastically, severe water shortage will affect the entire planet by the year 2040. It is crucial that we raise awareness to the water crises we face today all over the globe. We hope to save our planet one household at a time, ensuring future generations have the same basic human rights we enjoy today. We hope you could join us on our journey to a greener tomorrow.
      </p>
      </div>
      <br><br><br>
      <div class="content is-medium has-text-left">
      <p>
      If you are looking to live a greener lifestyle by saving water and a bit of money, the Water Monitor app was made for you. With the water monitor application you can track your own water usage, compare your water usage with your region and other regions. Our app will tell you what areas of your household use the most amount of water and with our Artificial Intelligence modules you will receive tips tailored to your own water usage helping you use less water. Our Artificial Intelligence modules also predict the amount of water you are due to use with your current habits, but they also give you a target you could hit if you were to follow the tips we give you. For a little bit of fun, we added gamification features in which you could earn badges as you hit your targets and use less water.
      </p>
      </div>
    </div>
    </div>
  </section>