<form class="codehim-form">

  <h1 class="title"><img class="png" src="assets/images/unknown.png" width=50; height=50>Contact Us<img class="png"
      src="assets/images/unknown.png" width=50; height=50></h1>

  <div class="mb-3">

    <label for="exampleFormControlInput1" class="form-label">
      <mat-icon class="lock">email</mat-icon>Email address
    </label>
    <input type="email" class="form-control" class="cm-input" id="exampleFormControlInput1"
      placeholder="name@example.com">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">
      <mat-icon class="lock">email</mat-icon>Message
    </label>
    <textarea class="form-control" id="exampleFormControlTextarea1" class="cm-input" rows="3"></textarea>

  </div>

  <button mat-raised-button color="primary" class="btn-primary">
    SEND
  </button>
  <p class="text-center">
    <mat-icon class="hh">donut_large</mat-icon>We will get back to you as soon as possible
  </p>
</form>