<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->


<router-outlet>
    <app-spinner></app-spinner>
    <div>
        <mat-toolbar color="primary">
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html">
                    <b>
                        <img src="assets/images/logo-icon.png" alt="homepage" class="dark-logo">
                        <img src="assets/images/logo-light-icon.png" alt="homepage" class="light-logo">
                    </b>
                    <span fxShow="false" fxShow.gt-xs>
                     <img src="assets/images/logo-text.png" alt="homepage" class="dark-logo">
                     <img src="assets/images/logo-light-text.png" class="light-logo" alt="homepage">
                     
                    
                     
                     
                    </span>
                 </a>
                      
                  
            </div> 
            <!-- <button mat-icon-button (click)="snav.toggle()" value="sidebarclosed">
                <mat-icon>menu</mat-icon>
            </button> -->
            <span fxFlex></span>
            <button [matMenuTriggerFor]="profile" mat-icon-button class="m-r-5"> <img src="assets/images/users/1.jpg"
                    alt="user" class="profile-pic"> </button>
            <mat-menu #profile="matMenu" class="mymegamenu">
                <button mat-menu-item (click)="onHome()">
                    <mat-icon>home</mat-icon> Home
                </button>
                <button mat-menu-item>
                    <mat-icon>settings</mat-icon> Settings
                </button>
                <button mat-menu-item>
                    <mat-icon>account_box</mat-icon> Profile
                </button>
                <button mat-menu-item (click)="onContact()">
                    <mat-icon>contact_support</mat-icon> Contact
                </button>
                <button mat-menu-item (click)="onAbout()">
                    <mat-icon>info</mat-icon> About Us
                </button>
                <button mat-menu-item (click)="onLogout()">
                    <mat-icon>exit_to_app</mat-icon> Sign Out
                </button>
            </mat-menu>
        </mat-toolbar>
    </div>

</router-outlet>