<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->


<router-outlet>
    <app-spinner></app-spinner>
    <div>
        <mat-toolbar color="primary">
            <div class="navbar-header">
                <a class="navbar-brand" (click)="onHome()">
                    <b>
                        <img src="assets/images/logo-light-icon.png" alt="homepage" class="logo">
                    </b>
                    <span fxShow="false" fxShow.gt-xs>
                    </span>
                </a>
            </div>
            <div class="container text-right">
                <button [matMenuTriggerFor]="profile" mat-icon-button class="m-r-5">
                    <img src="assets/images/users/1.jpg" alt="user" class="profile-pic">
                </button>
                <mat-menu #profile="matMenu" class="mymegamenu">
                    <button mat-menu-item (click)="onHome()">
                        <mat-icon>home</mat-icon> Home
                    </button>
                    <button mat-menu-item (click)="onWaterUsage()">
                        <mat-icon>home</mat-icon> WaterUsage
                    </button>
                    <button mat-menu-item (click)="onProfile()">
                        <mat-icon>account_box</mat-icon> Profile
                    </button>
                    <button mat-menu-item (click)="onSettings()">
                        <mat-icon>settings</mat-icon> Settings
                    </button>
                    <button mat-menu-item (click)="onAbout()">
                        <mat-icon>info</mat-icon> About Us
                    </button>
                    <button mat-menu-item (click)="onContact()">
                        <mat-icon>contact_support</mat-icon> Contact
                    </button>
                    <button mat-menu-item (click)="onLogout()">
                        <!--*ngIf="isAuthenticated"-->
                        <mat-icon>exit_to_app</mat-icon> Sign Out
                    </button>
                    <button mat-menu-item (click)="onLogin()">
                        <!--*ngIf="!isAuthenticated"-->
                        <mat-icon>exit_to_app</mat-icon> Sign In
                    </button>
                </mat-menu>
            </div>
        </mat-toolbar>
    </div>

</router-outlet>