<div class="container has-text-centered">
    <h1>
        <img class="logo" src="assets/images/unknown.png">
        WELCOME
        <img class="logo" src="assets/images/unknown.png">
    </h1>
</div>

<button mat-raised-button class="btn-primary" color="primary" (click)="onWaterUsage()">
    <mat-icon>home</mat-icon>
    WaterUsage
</button>
<button mat-raised-button class="btn-primary" color="primary" (click)="onProfile()">
    <mat-icon>account_box</mat-icon>
    Profile
</button>
<button mat-raised-button class="btn-primary" color="primary" (click)="onSettings()">
    <mat-icon>settings</mat-icon>
    Settings
</button>
<button mat-raised-button class="btn-primary" color="primary" (click)="onAbout()">
    <mat-icon>info</mat-icon>
    About Us
</button>
<button mat-raised-button class="btn-primary" color="primary" (click)="onContact()">
    <mat-icon>contact_support</mat-icon>
    Contact
</button>
<button mat-raised-button class="btn-primary" color="primary" (click)="onLogout()">
    <!--*ngIf="isAuthenticated"-->
    <mat-icon>exit_to_app</mat-icon>
    Sign Out
</button>
<button mat-raised-button class="btn-primary" color="primary" (click)="onLogin()">
    <!--*ngIf="!isAuthenticated"-->
    <mat-icon>exit_to_app</mat-icon>
    Sign In
</button>